body {
    margin: 0px;
    padding: 0px;
    background-color: #DEDEDE;
    font-family: Verdana, Arial, 'ËÎÌå';
}
textarea {
	resize: none;
}
.contain {
    margin: 0;
    padding: 20px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.nav1 {
    padding-top: 12px;
    padding-right: 12px;
    float: right;
}

.nav1 a:link {
    float: left;
    margin-left: 12px;
}

.nav1 a:link {
    color: white;
}

.nav1 a:visited {
    color: white;
}

.nav1 a:hover,
a:active {
    color: #aaa;
}

#home {
    height: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#nav {
    background-color: #333333;
    width: 100%;
    height: 50px;
}


/*±êÌâÀ¸*/

.title {
    font-size: 24px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}


/*¸öÈËÐÅÏ¢À¸*/

.information {
    float: left;
    display: block;
    width: 180px;
    overflow: hidden;
    background-color: white;
    border-style: solid;
    border-color: rgb(206, 206, 206);
    border-width: 1px;
    padding: 20px;
    box-shadow: 2px 2px 2px rgb(144, 144, 144);
}

.information img {
    margin: 0px 40px;
}


/*Ö÷*/

.main {
    margin-left: 225px;
    margin-right: 15px;
    font-size: 24px;
    background-color: white;
    border-style: solid;
    border-color: rgb(206, 206, 206);
    border-width: 1px;
    padding: 20px;
    box-shadow: 2px 2px 2px rgb(144, 144, 144);
    overflow: auto;
}

.error {
    color: red;
}

.activeuser {
    background-color: white;
    float: left;
    width: 160px;
    border-style: solid;
    border-color: rgb(206, 206, 206);
    border-width: 1px;
    padding: 20px;
    box-shadow: 2px 2px 2px rgb(144, 144, 144);
}

.contain a:link {
    color: black;
}

.contain a:visited {
    color: block;
}

.contain a:hover {
    color: blue;
}

.contain a:active {
    color: blue;
}

.title a:link {
    color: black;
}

.title a:visited {
    color: block;
}

.title a:hover {
    color: blue;
}

.title a:active {
    color: blue;
}

.platetitle {
    color: red;
    font-size: 30px;
    font-weight: 900;
    margin: 10px 0;
    border-bottom: 1px solid;
}

.button {
    background-color: #F3F3F3;
    border: 1px solid black;
}

.album {
    float: left;
    margin-right: 20px;
}

.albumname {
    font-size: 18px;
}

.photo {
    float: left;
    margin-right: 20px;
}

.photoname {
    font-size: 18px;
}

.writetime {
    font-size: 18px;
    color: #DEDEDE;
}

.page {
    clear: both;
}

.acomment {
	font-size: 18px;
    border: 1px solid;
    margin: 0;
    background-color: #eee;
}
.commenttime{
	font-size: 18px;
	text-align: right;
}
.acomment a{
	text-align: right;
}
.comment textarea{
	width:1200px;
	height: 100px;
}
.reply{
	border:1px solid;
	margin-left:10px;
	background-color: #ddd;
}
.huifu{
	text-align: right;
}